.page {
	padding: 25px 22.5px 125px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.title {
	font-size: 32px;
	text-align: center;
	width: 100%;
}
.btn {
	background-color: #e33535;
	color: white;
	position: fixed;
	z-index: 10;
	bottom: 85px;
	left: 50%; /* Центрирование по горизонтали */
	transform: translateX(-50%);
	border-radius: 8px;
}
.btns {
	display: flex;
	gap: 10px;
}
.block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 20px;
	box-shadow: 0px 4px 8px 0px #00000040;
}
.textBlock {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.text {
	color: #000;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}
.descr {
	color: var(--Colors-Neutral-Icon-colorIcon, rgba(0, 0, 0, 0.45));
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.btnup {
	display: flex;
	gap: 8px;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	align-items: center;
}
.btnup::before {
	content: url("../../shared/img/UploadOutlined.svg");
	height: 16px;
}
